* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.5;
  font-size: 16px;
}
.nav {
  background-color: rgb(2, 2, 116);
  background-image: linear-gradient(
    45deg,
    rgb(52, 94, 209) 0%,
    rgb(61, 61, 168) 42%,
    rgb(39, 39, 122) 50%
  );
  height: 100px;
  position: sticky;
  top: 0;
  border: 0.2px solid rgb(52, 94, 209);
}
.header-title {
  font-size: 60px;
  font-stretch: extra-expanded;
  font-family: "Open Sans", sans-serif;
  font-family: "Staatliches", cursive;
  letter-spacing: 10px;
  text-shadow: 2px 2px green;
}
h1 {
  text-align: center;
  color: #fff;
  margin: 6px auto;
}
.card {
  margin: 125px 0 2px 175px;
  width: 100%;
  border: 3px solid rgb(52, 94, 209, 0.8);
  display: flex;
  
}
.card-header {
  background-color: rgba(61, 61, 168, 0.8);
  color: #ffff;
  padding: 1%;
  border-radius: calc(0.18rem - 1px) calc(0.18rem - 1px) 0 0;
  margin-top: 0;
}
.card-body {
  padding: 1%;
  background-color: rgba(255, 255, 255, 0.8);
}
.form-lable {
  font-size: 1.8rem;
  margin: 5px;
}
.form-input {
  width: 100%;
  padding: 3%;
  margin: 5px 0;
  font-size: 1.2rem;
  border: 2px solid rgb(54, 54, 54);
  border-radius: 1rem;
}
.btn {
  font-size: 1.3rem;
  padding: 6px 5px;
  display: block;
  margin: 5px 0;
  border-radius: 1rem;
  background-color: rgba(61, 61, 168, 0.8);
  color: #fff;
  transform: translate(-1px, -1px);
}
.justify-space-between {
  justify-content: space-between;
}
.flex-row {
  display: flex;
  flex-wrap: wrap;
}
.col-12 {
  flex: 0 0 100%;
  flex-basis: 100px;
  height: 100px;
  margin: 5px;
}
.col-6 {
  flex: 0 0 calc(100% * 6 / 12 -2);
  float: right;
  top: 0;
}
/*.card2 {
  border: 3px solid rgb(52, 94, 209);
  width: 200%;
  margin: 4px;
  background-color: rgb(14, 109, 233);
  border-radius: 2rem;
}*/
.city-name {
  color: #ffff;
  font-size: 32px;
  padding: 4px 0px 2px 10px;
  margin: 2px 5px 5px 2px;
  position: relative;
}
img {
  position: absolute;
  top: 50px;
  right: 550px;
}
p {
  color: #ffff;
  font-size: 18px;
}

/* main {
 display: flex;
  justify-content: center; 
  padding-left: 10vw;

} */
